@model tcomp1.Models.Idea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Idea</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripstion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripstion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
       
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Accep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Accep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incognito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incognito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Like)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Like)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DisLike)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisLike)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.File)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.File)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tcomp1User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tcomp1User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
